@media all and (max-width: 991px) {
    .btn-primary,.btn-primary-dark {
    padding: 16px 20px;

}
.user-count-icon img {
    width: 38px;
}
.user-count-content span {
    font-size: 28px;
}
.user-count-content h5 {
    font-size: 15px;
}

}
@media all and (max-width: 767px) {
  .authentication{
  justify-content: start;
}
  .authentication-box {
    padding: 60px 15px;
  }
  .custom-vh-100 {
    height: auto;
  }
  .authentication-box {
    min-height: auto;
    height: 100%;
  }
  .code-inputs {
    gap: 5px;
  }
  .code-inputs input {
    width:50px;
    height: 34px;
    border-radius:30px;
    font-size: 15px;
    padding:12px 0;
  }
}
