@media all and (max-width: 991px) {
    .btn-primary,.btn-primary-dark {
    padding: 16px 20px;

}
.user-count-icon img {
    width: 38px;
}
.user-count-content span {
    font-size: 28px;
}
.user-count-content h5 {
    font-size: 15px;
}
}
@media all and (max-width: 767px) {
  .authentication-box {
    padding: 60px 15px;
  }
  .custom-vh-100 {
    height: auto;
  }
  .authentication-box {
    min-height: auto;
  }
}
